* {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: normal;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.bg {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  min-height: 100vh;
}

.logo {
  width: 250px;
}
